.header {
    grid-area: header;
    width:100%;
    padding: 14px 0px 10px 22px;
    height: 22px;
    background-color:white;
    margin-left:60px; 
    display:flex;
    flex-flow: row wrap;  
  }
.bottom-header-button{
    font-size:14px;
    color:rgb(96, 1, 210);
    padding: 0 15px;
}
.bottom-header-button:link {
    text-decoration: none;
    color: rgb(96, 1, 210);
}

.bottom-header-button:visited {
    text-decoration: none;
    color: darkgray;
}

.bottom-header-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom-header-button:active {
    text-decoration: underline;
}